/*MoviesHomePage*/
.movie-list{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.movie-list li{
  margin-right: 1rem;
  list-style: none;
}

.movie-list li img{
  max-width: 20vw;
  max-height: 20vw;
}

.movie-list li p{
  text-align: center;
}
